<!--MODAL HISTORIA CLINIA - SHOW MORE -->

<div class="modal fade" id="historiaClinicaModal" tabindex="-1" aria-labelledby="historiaClinicaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="historiaClinicaModalLabel">Historia Clinica</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ historiaClinicaSeleccionada }}</p>
      </div>
    </div>
  </div>
</div>


<div class="compPac">
<div class="containerHeaderPaciente">
<div style="height: 70px;" class="celu">
  <form class="form-inline my-2 my-lg-0 formSearch">
    <input class="form-control mr-sm-2"   [(ngModel)]="searchTerm"  name="nombre" type="search" placeholder="Search" aria-label="Search" >
  </form>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-light m-2" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addClick()" data-backdrop="static" data-keyboard="false">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
  </svg>
  <span style="margin-left: 10px;">Agregar Paciente</span>
</button>
</div>
</div>

<div class="container rounded-3">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ModalTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-pac [pac]="pac" [CategoriasList]="CategoriasList" *ngIf="ActivateAddEditPacComp" (insertRealizado)="onInsertRealizado()" (lastInsertIdEvent)="recibirLastInsertedIdDesdeHijo($event)"></app-add-edit-pac>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="PacientesList.length === 0 && filterActivated">
    <p>No se encontraron registros.</p>
  </div>

  <div>
<table class="table table-striped mx-auto custom-table" style="align-items: center;" *ngIf="PacientesList.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Paciente</th>
            <th>Turno Area</th>
            <th>Historia Paciente</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of PacientesList.slice(startIndex, endIndex) | filtroPacientes:searchTerm" class="custom-table-row"  style="color: rgb(140, 139, 139); font-weight: bolder;">
            <td>{{dataItem.IdPaciente}}</td>
            <td>{{dataItem.nombre}} {{dataItem.apellido}}</td>
            <td>{{dataItem.categoria}}</td>
            <td> {{ dataItem.historiaPaciente.length > 10 ? (dataItem.historiaPaciente | slice: 0:10) +"..." : dataItem.historiaPaciente }}
          
              <!-- Button Modal SHOW MORE - Historia clinica -->
            <button (click)="abrirModal(dataItem.historiaPaciente)" class="buttonMore" data-bs-toggle="modal" data-bs-target="#historiaClinicaModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg></button>
          </td>
          <td>
                <button type="button" class="btn btn-primary mr-1 edit"
                data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg></button>
                <button type="button" class="btn btn-danger mr-1" (click)="deletePaciente(dataItem)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
                </button>                
            </td>
        </tr>
      </tbody>
</table>


        <div class="seccionButtons" style="align-self: center;">
          <!-- Botones para navegar a la siguiente y anterior página -->
          <button (click)="prevPage()" [disabled]="currentPage === 1" style="margin: 5px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
          <button (click)="nextPage()"><i #arrowIcon class="fas fa-arrow-right"></i></button>   
          <button (click)="exportExcel()" style="margin-left: 50px; width: 180px;" class="btn btn-success">
          Export to Excel
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
          <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
          <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
          </svg></button>
      </div>
      
      <div style="height: auto; width: 100%; background-color: rgb(129, 129, 197);">
        <p *ngIf="lastInsertedIdDelHijo">Last Inserted ID en el padre: {{ lastInsertedIdDelHijo }}</p>
      </div>
</div>
</div>
</div>





 
  