<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Paciente nombre</label>
    <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" placeholder="Ingrese nombre del paciente">
    </div>

    <label class="col-sm-2 col-form-label">Paciente apellido</label>
    <div class="col-sm-10 mb-2">
        <input type="text" class="form-control"  placeholder="Ingrese apellido del paciente">
    </div>

    <label class="col-sm-2 col-form-label">Categoria</label>
    <div class="col-sm-10 mb-2">
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1"  >
              <option value="" disabled hidden>Selecciona una categoría</option>
            </select>
          </div>
    </div>

    <label class="col-sm-2 col-form-label">Historia Clinica</label>
    <div class="col-sm-10 mb-2">
        <input type="text" class="form-control" placeholder="Ingrese historia del paciente">
    </div>
  
</div>

<button (click)="addPaciente()"  class="btn btn-primary">
    Add
</button>
<button (click)="updatePaciente()" class="btn btn-primary">
    Update
</button>